{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- if and (gt (len $pages) 1) (in $pages . ) }}
<nav class="paginav">
  {{- with $pages.Next . }}
  <a class="prev" href="{{ .Permalink }}">
    <span class="title">« Siguiente</span>
    <br>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
  {{- with $pages.Prev . }}
  <a class="next" href="{{ .Permalink }}">
    <span class="title">Anterior »</span>
    <br>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
</nav>
{{- end }}
<iframe width="540" height="520" src="https://53ec45e4.sibforms.com/serve/MUIEAC_mvValEGQxNiaenPeUHVGhk-PKYT90dbDZpW9LA2ayBg_gaGqOrBv9eNJCUxPvSfNVbBv5UQ-ZeSqvkU1-i6ebFXkzKuxc-h2VP5-6p9L8KKLhmbZV6isqLRlOLFMvhIjYCF4TePv01EZMmvsyCYicSoZqwE-MY9bY6ZDL-RAnLURWPfjTIpiL4WuCVYbWU52-oz1Kz3YU" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
