{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- if and (gt (len $pages) 1) (in $pages . ) }}
<nav class="paginav">
  {{- with $pages.Next . }}
  <a class="prev" href="{{ .Permalink }}">
    <span class="title">« Siguiente</span>
    <br>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
  {{- with $pages.Prev . }}
  <a class="next" href="{{ .Permalink }}">
    <span class="title">Anterior »</span>
    <br>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
</nav>

<iframe width="540" height="520" src="https://53ec45e4.sibforms.com/serve/MUIEAD5qqk61xmd_a0qDPGr8g86qkA0bOK_hsuy4DTmOGNGBwjOBIoE_3m5-0gazjcOJ__5b8Am2uX4p2sx2qNO2VszTy3-Dzq4gYHSt7gT9q_rexOKe7dSZ_xm_WqOlf60dLAQKJP6O_P_X_HG-t0IwWFq-B8ZzSk5Yrfzt-CkjZSbYETEw9LY_VFcMmnF0LqthAlqGz4Dd1rxp" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
{{- end }}
